html,body {
    height: 100%;
}

.profile {
    height: 50%;
}

.navbar-text {
 padding: 20px;
}

.bg-light {
height: 80px;
}

.container {
    margin: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   
    color:white;
  }