html,body {
    height: 100%;
    background-color: rgb(79, 82, 81);
}

.profile {
    height: 240px;
    width: 240px;
}

.navbar-text {
 padding: 25px;
}

.bg-light {
height: 80px;
}

.img-thumbnail {
    border: 20px;
}



.container {
    padding: 100px;
}

.footer {  
    color:white;
  }